.event-members-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.event-members-table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.event-members-table tr:nth-child(even) {
    background-color: #dddddd;
}