body{
    background-color: rgb(245, 245, 245);
}
.cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
@media (max-width: 768px) {
    .cards-grid {
        grid-template-columns: 1fr;
    }
}