.event-container{
    text-align: center !important;
}
.event-details {
    max-width: 600px;
    margin: 20px auto;
    padding: 15px;
}

.event-details .title {
    font-size: 28px;
    margin-bottom: 10px;
}

.date-time-wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.date-time-wrapper .date,
.date-time-wrapper .time {
    font-size: 18px;
}

.card-location {
    font-size: 16px;
    margin: 4px 0;
}

.card-description {
    margin-top: 15px;
    line-height: 1.5;
}