form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

input {
    padding: 1rem;
    width: 60%;
    margin-bottom: 20px;
    box-sizing: border-box;


}

textarea {
    width: 60%;
    padding: 1rem;
    margin-bottom: 20px;
    box-sizing: border-box;

}

h1 {
    margin-bottom: 3rem;
    margin-top: 2rem;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

.submit {
    width: 60%;
    padding: 1rem;
    box-sizing: border-box;
}

.submit:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;

}

.success {
    background-color: rgba(0, 128, 0, 0.2);
    padding: 10px;
    border-radius: 6px;
    color: #0a4f0a;
    width: 60%;
    text-align: center;
    box-sizing: border-box;
}

.err {
    background-color: rgba(255, 0, 0, 0.2);
    padding: 10px;
    border-radius: 6px;
    width: 60%;
    text-align: center;
    box-sizing: border-box;
}