nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    width:100%;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;
}
#email{
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    height: 50px !important; 
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;

}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    transition: 0.3s ease;
    background-color: black;
    color: white;
}

#title {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    display: none;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.sidebar li {
    width: 100%;
}

.burger {
    display: none;
}

li:hover svg {
    transition: 0.3s ease;
    fill: white;
}

@media(max-width:800px) {
    .hideOnMobile {
        display: none;
    }

    .burger {
        display: unset;
    }
}

@media(max-width:250px) {
    .sidebar {
        width: 100%;
   }
}