.filter-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    background-color: #ededed !important;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.filter-bar input,
.filter-bar select {
    flex: 1;
    padding: 10px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.filter-bar select {
    width: 10%;
}
.date-group {
    display: flex;
    gap: 10px;
    flex: 1;
}

.date-group input {
    flex: 1;
}